<div class="row center">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="black-text" id="<%= index %>score" style="margin-top: 36px;font-weight: bold;">
            Score: 
        </div>
    </div>
    
</div>
<form>
    <div class="row s12">
        
        <div class="col s12">
            <div class="card">
                <table class="highlight centered light-blue lighten-5">
                    <thead class="teal">
                    <tr>
                        <th>Formula</th>
                        <th style="border-left: 2px solid black; height: max-content;"></th>
                        <th>Name</th>
                        <th style="border-right: 2px solid black; height: max-content;"></th>
                        <th>Audio</th>
                    </tr>
                    </thead>
            
                    <tbody>
                    
                        <% for(i = 0; i<20; ++i){ %>
                            <tr>
                                <td>
                                    <% if(test[i].formula.length==0){ %>
                                        <input type="text" id="<%= index %>formula<%= i %>"/>
                                    <% } else { %>
                                        <%= test[i].formula %>
                                    <% } %>
                                </td>
                                <td style="border-left: 2px solid black; height: max-content;">
            
                                </td>
                                <td>
                                    <% if(test[i].chemical.length==0){ %>
                                        <input type="text" id="<%= index %>chemical<%= i %>"/>
                                    <% } else { %>
                                        <%= test[i].chemical %>
                                    <% } %>
                                </td>
                                <td style="border-right: 2px solid black; height: max-content;">
            
                                </td>
                                <td>
                                    <audio src="<%= test[i].voice %>" controls></audio>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
</form>
